* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
background: linear-gradient(135deg, #0f172a, #1e293b);
min-height: 100vh;
font-family: "Segoe UI", sans-serif;
}

.App {
width: 90%;
max-width: 850px;
margin: 40px auto;
padding: 30px;
background: rgba(255,255,255,0.08);
backdrop-filter: blur(10px);
border-radius: 20px;
color: white;
box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

h1 {
text-align: center;
margin-bottom: 10px;
}

.subtitle {
text-align: center;
color: #cbd5e1;
margin-bottom: 30px;
}

.input-container {
display: flex;
gap: 10px;
margin-bottom: 25px;
}

input {
flex: 1;
padding: 15px;
border: none;
border-radius: 10px;
font-size: 16px;
}

button {
border: none;
padding: 12px 20px;
border-radius: 10px;
cursor: pointer;
font-weight: bold;
}

.input-container button {
background: #2563eb;
color: white;
}

.todo-item {
display: flex;
justify-content: space-between;
align-items: center;
background: rgba(255,255,255,0.1);
padding: 15px;
margin-bottom: 12px;
border-radius: 12px;
}

.actions {
display: flex;
gap: 10px;
}

.edit-btn {
background: #f59e0b;
color: white;
}

.delete-btn {
background: #ef4444;
color: white;
}

.edit-btn:hover {
background: #d97706;
}

.delete-btn:hover {
background: #dc2626;
}
